<app-header></app-header>
<div class="container gallery">
    <img src="assets/images/portfolio.jpeg" class="port-img animated bounceInLeft" />
    <h2 class="animated bounceInLeft til">Mi Portafolio</h2>
    <p class="animated bounceInRight">Estas son algunas de las páginas web realizadas desde cero, usando diferentes tecnologías de desarrollo.<strong> Click en las imagenes para ver mas grande.</strong></p>
    <section class="gallery-common">
        <div class="row">
            <div *ngFor="let imagen of data.gallery" id="img" class="col-lg-8 animated zoomIn img">
                <img src="{{imagen.url}}" />
            </div>
        </div>
    </section>
</div>
<div class="create-heart animated zoomIn" *ngIf="data.gallery">
    <p>Creado con el &nbsp;</p>
    <div class="lds-heart">
        <div></div>
    </div>
</div>
<app-footer></app-footer>