<div class="app-header animated bounceInDown">
    <div class="section-name">
        <p>{{data.info.fullName}}</p>
        <img src="/assets/images/profile.jpeg" />
    </div>
    <div class="header-menu">
        <ul>
            <li class="header-menu"><a routerLink="/">INICIO</a></li>
            <li class="header-menu"><a onclick="scrollAbout()">SOBRE MI</a></li>
            <button class="this-btn btn-change animated fadeIn" data-toggle="modal" data-target="#ModalContact">Contáctame</button>
        </ul>
    </div>
</div>
<div class="header-space"></div>
<div class="icon-nav" onclick="iconNav()">
    <span class="glyphicon glyphicon-menu-hamburger"></span>
</div>
<div class="animated fadeIn options-nav">
    <ul>
        <li class="options-nav-item"><a routerLink="/"><span class="glyphicon glyphicon-home"></span>&nbsp; Inicio</a></li>
        <li class="options-nav-item"><a onclick="scrollAbout()"><span class="glyphicon glyphicon-user"></span>&nbsp; Sobre mi</a></li>
        <li class="options-nav-item"><a routerLink="/gallery"><span class="glyphicon glyphicon-picture"></span>&nbsp; Portafolio</a></li>
        <li class="options-nav-item b-not"><a data-toggle="modal" data-target="#ModalContact"><span class="glyphicon glyphicon-comment"></span>&nbsp; Contactame</a></li>
    </ul>
</div>



<div id="ModalContact" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Contáctame</h4>
            </div>
            <div class="modal-body">
                <div class="modal-cont">
                    <div class="img-contact">
                        <img src="/assets/images/buzon.jpeg" />
                    </div>
                    <div class="messages">
                        <div class="">
                            <h3>Escribeme a:</h3>
                            <h5>{{data.info.email}}</h5>
                            <h5 *ngIf="data.info.emailTwo != undefined ">{{data.info.emailTwo}}</h5>
                        </div>
                        <div class="">
                            <h3>Puedes llamar a:</h3>
                            <h5>{{data.info.cellphone}}</h5>
                            <h5>{{data.info.cellphoneTwo}}</h5>
                        </div>
                    </div>
                    <h3 style="text-align: center;">Tambien estoy aqui:</h3>
                    <div class="redes modal-footer">
                        <hr/>
                        <h5><a target="_black" href="{{data.info.facebook}}">Facebook</a></h5>
                        <h5><a target="_black" href="{{data.info.linkedin}}">LinkedIn</a></h5>
                        <h5><a target="_black" href="{{data.info.github}}">GitHub</a></h5>
                        <h5><a target="_black" href="{{data.info.stackoverflow}}">StackOverflow</a></h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="this-btn btn-change" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>