<div class="app-header animated bounceInDown">
    <div class="section-name">
        <p>Efrain Peralta Arno</p>
        <img src="/assets/images/profile.jpeg" />
    </div>
    <div class="header-menu">
        <ul>
            <li class="header-menu"><a href="">INICIO</a></li>
            <li class="header-menu"><a (click)="scrollAbout()">SOBRE MI</a></li>
            <button class="this-btn btn-change animated fadeIn" data-toggle="modal" data-target="#ModalContact">Contáctame</button>
        </ul>
    </div>
</div>
<div class="header-space"></div>
<div class="icon-nav" onclick="iconNav()">
    <span class="glyphicon glyphicon-menu-hamburger"></span>
</div>
<div class="animated fadeIn options-nav">
    <ul>
        <li class="options-nav-item"><a href=""><span class="glyphicon glyphicon-home"></span>&nbsp; Inicio</a></li>
        <li class="options-nav-item"><a (click)="scrollAbout()"><span class="glyphicon glyphicon-user"></span>&nbsp; Sobre mi</a></li>
        <li class="options-nav-item"><a data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-picture"></span>&nbsp; Portafolio</a></li>
        <li class="options-nav-item b-not"><a data-toggle="modal" data-target="#ModalContact"><span class="glyphicon glyphicon-comment"></span>&nbsp; Contactame</a></li>
    </ul>
</div>