.home {
    width: 100%;
    height: 92.5vh;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/portfolio-b3498.appspot.com/o/home.jpg?alt=media&token=55416079-4c65-4a0d-88e5-feb3747d1408);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sub-home {
    width: 100%;
    height: 92.5vh;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
}

.home-item {
    margin: auto;
    max-width: 400px;
    text-align: center;
    color: white;
    padding-top: 15%;
}

.home-item h1 {
    font-size: 50px;
    font-family: var(--font-title);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    letter-spacing: .5px;
}

.home-item p {
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    letter-spacing: .5px;
}

@media (min-width:768px) {
    .home-item {
        max-width: 700px;
    }
    .home-item h1 {
        font-size: 80px;
    }
    .home-item p {
        font-size: 25px;
    }
    .home-item {
        padding-top: 10%;
    }
    .sub-home {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

.section-me {
    display: flex;
    flex-wrap: wrap;
}

.section-me article {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.img-me {
    width: 200px;
    margin: auto;
}

article .img-me img {
    width: 200px;
    border-radius: 25px;
}

.sombra {
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.1), 0 3px 5px -1px rgba(0, 0, 0, 0.1);
}

article .info-me {
    max-width: 350px;
    margin: auto;
}

.info-me p {
    font-size: 16px;
}

.info-me h3 {
    font-size: 30px;
    font-family: var(--font-title);
}

.color {
    color: var(--color-oscuro);
}

.avatar-img {
    width: 100px;
    border-radius: 100%;
}

@media (min-height:568px) {
    .avatar-img {
        width: 130px;
    }
}

@media (min-height:667px) {
    .avatar-img {
        width: 150px;
    }
}

@media (min-height:736px) {
    .avatar-img {
        width: 200px;
    }
}

@media (min-width:750px) {
    article .info-me {
        max-width: 400px;
        margin: auto;
    }
    .info-me p {
        font-size: 17px;
    }
    .info-me h3 {
        font-size: 35px;
    }
    article .img-me img {
        width: 250px;
    }
}

@media (min-width:750px) {
    .section-me article {
        width: 800px;
        margin-top: 50px;
    }
}

@media (max-height:500px) {
    .home-item {
        padding-top: 0;
    }
}