<app-header></app-header>
<div class="home animated zoomIn">
    <div class="sub-home">
        <div class="home-item">
            <h1 class="animated bounceInLeft">Hey! Soy Efrain.</h1>
            <img class="avatar-img sombra animated zoomIn" src="/assets/images/hi.jpeg" />
            <p>Desarrollador Web.</p>
            <p>I love <strong>web programming.</strong></p>

            <button class="this-btn animated zoomIn" data-toggle="modal" data-target="#myModal">Galeria/Portafolio</button>
        </div>
    </div>
</div>
<Section class="section-me" id="section-me">
    <article>
        <div class="img-me animated zoomIn">
            <img src="/assets/images/git.jpg" />
        </div>
        <div class="info-me animated bounceInRight">
            <h3>
                Git/Github the best lifeguard</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aspernatur quia consequuntur laboriosam obcaecati ducimus sequi beatae delectus saepe soluta aut neque, architecto cum quis aliquid ipsum sapiente sed praesentium.</p>
            <a href="https://github.com/EfraPeralta" target="_black">
                <button class="this-btn btn-change animated fadeIn">Mi GitHub</button></a>
        </div>
    </article>
    <article>
        <div class="info-me animated bounceInLeft">
            <h3 class="color">Angular 6 the best in front-end</h3>
            <p>He adquirido experiencia realizado páginas web utilizando muy buenas herramientas y los mejores lenguajes hoy en día, tales como CSS3, HTML5, JS, entre otros pero para Aplicaciones web modernas AngularJS es una de las mejores herramientas
                para dar la mejor experiencia al usuario final..</p>
        </div>
        <div class="img-me animated zoomIn">
            <img src="/assets/images/angular.jpg" />
        </div>
    </article>
    <article>
        <div class="img-me animated zoomIn">
            <img src="/assets/images/laptop.jpg" />
        </div>
        <div class="info-me animated bounceInRight">
            <h3>
                Responsive web design for life</h3>
            <p>Me gusta el diseño responsive, todos los sitios web que realizo trato de que sean lo más amigable posible para los usuarios. El diseño responsive es el futuro de las web y todos queremos un contenido agradable a los ojos.¿Porque no aprovechar
                Responsive web desing?</p>
        </div>
    </article>
    <article>
        <div class="info-me animated bounceInLeft">
            <h3 class="color">Titulo One publication on section</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aspernatur quia consequuntur laboriosam obcaecati ducimus sequi beatae delectus saepe soluta aut neque, architecto cum quis aliquid ipsum sapiente sed praesentium.</p>
        </div>
        <div class="img-me animated zoomIn">
            <img src="/assets/images/hi.jpeg" />
        </div>
    </article>
    <article>
        <div class="img-me animated zoomIn">
            <img src="/assets/images/profile.jpeg" />
        </div>
        <div class="info-me animated bounceInRight">
            <h3>Algunas cosas sobre mi </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aspernatur quia consequuntur laboriosam obcaecati ducimus sequi beatae delectus saepe soluta aut neque, architecto cum quis aliquid ipsum sapiente sed praesentium.</p>
        </div>
    </article>
</Section>

<Section class="section-me contact" id="">
    <article>
        <div class="info-me animated bounceInRight">
            <h3 class="color">
                Si llegas hasta aqui, Querras Hablar ;)</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aspernatur quia consequuntur laboriosam obcaecati ducimus sequi beatae delectus saepe soluta aut neque, architecto cum quis aliquid ipsum sapiente sed praesentium.</p>
            <a href="https://github.com/EfraPeralta" target="_black">
                <button class="this-btn animated fadeIn">Contactame</button></a>
        </div>
        <div class="img-me animated zoomIn">
            <img class="sombra" src="/assets/images/contact.jpeg" />
        </div>
    </article>
    <article>
        <div class="img-me animated zoomIn">
            <img class="sombra" src="/assets/images/leer.jpeg" />
        </div>
        <div class="info-me animated bounceInRight">
            <h3 class="color">
                ¿Te gusta esta pagina web?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aspernatur quia consequuntur laboriosam obcaecati ducimus sequi beatae delectus saepe soluta aut neque, architecto cum quis aliquid ipsum sapiente sed praesentium.</p>
            <a href="https://github.com/EfraPeralta" target="_black">
                <button class="this-btn animated fadeIn">Ver en GitHub</button></a>
        </div>
    </article>
</Section>





<!-- Modal-Portafolio -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content Portafolio-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>