<app-header></app-header>
<div class="home animated zoomIn">
    <div class="sub-home">
        <div class="home-item">
            <h1 class="animated bounceInLeft">Hey! Soy {{data.info.firstName}}.</h1>
            <img class="avatar-img sombra animated zoomIn" src="/assets/images/hi.jpeg" />
            <p>{{data.info.profession}}</p>
            <p>I love <strong>web programming.</strong></p>
            <a routerLink="/gallery">
                <button class="this-btn animated zoomIn">Galeria/Portafolio</button></a>
        </div>
    </div>
</div>
<Section class="section-me" id="section-me">
    <article>
        <div class="img-me animated zoomIn">
            <img src="/assets/images/git.jpg" />
        </div>
        <div class="info-me animated bounceInRight">
            <h3>
                Git/Github the best lifeguard</h3>
            <p>Git es el software de control de versiones más utilizado, pensado en la eficiencia y la confiabilidad. Sin dudas aprender Git fue una de las mejores decisiones que he tomado, en mi cuenta de GitHub tengo varios repositorios y gists que me
                ayudan en la elaboración de mis proyectos.
            </p>
            <a href="{{data.info.github}}" target="_black">
                <button class="this-btn btn-change animated fadeIn">Mi GitHub</button></a>
        </div>
    </article>
    <article>
        <div class="info-me animated bounceInLeft">
            <h3 class="color">Angular 6 the best in front-end</h3>
            <p>He adquirido experiencia realizado páginas web utilizando muy buenas herramientas, CSS3, HTML5, JS, entre otros, pero sin dudas Angular es una de las mejores herramientas para Apps web modernas y complejas, Logras la mejor experiencia de usuario
                y tienes un trabajo bien elaborado.
            </p>
        </div>
        <div class="img-me animated zoomIn">
            <img src="/assets/images/angular.jpg" />
        </div>
    </article>
    <article>
        <div class="img-me animated zoomIn">
            <img src="/assets/images/laptop.jpg" />
        </div>
        <div class="info-me animated bounceInRight">
            <h3>
                Responsive web design for life</h3>
            <p>Me gusta el diseño responsive, todos los sitios web que realizo trato de que sean lo más amigable posible para los usuarios. El diseño responsive es el futuro de las web y todos queremos un contenido agradable a los ojos. ¿Porque no aprovechar
                Responsive web desing?</p>
        </div>
    </article>
    <article>
        <div class="info-me animated bounceInLeft">
            <h3 class="color">Ahora un poco sobre mi!</h3>
            <p>Hola, ¿Qué tal? Soy Efra, un joven de 19 años con mucho entusiasmo y habilidades a desarrollar. Me considero bastante responsable y capaz de lograr muchas cosas, me gustan los retos y las cosas difíciles.<br/> <br/> Me encanta la programación
                en general, pero también importa la experiencia de nuestros usuarios al usar nuestros sistemas, me gusta la lógica, pero no puedo perder de vista la parte visual de mis Web.
            </p>
        </div>
        <div class="img-me animated zoomIn">
            <img src="/assets/images/hi.jpeg" />
        </div>
    </article>
    <article>
        <div class="img-me animated zoomIn">
            <img src="/assets/images/profile.jpeg" />
        </div>
        <div class="info-me animated bounceInRight">
            <h3>Otras cosas sobre mi </h3>
            <p>He realizado varios estudios en diferentes instituciones los cuales han ayudado en mi desarrollo, algunos han sido cursos online, la web es para siempre y puedes aprender constantemente. <br/> <br/> Realice algunos cursos en INFOTEP, INTTELMEX,
                otros de CLARO DOMINICANA atreves de su portal Capacítate. <br/><br/> Me gusta leer mucha información para aprender nuevas cosas y le pongo mucho empeño a la hora de aprender. <br/> Tengo conocimientos de Angular JS, HTML5, CSS3, TS para
                Angular, Responsive web desing, Git / GitHub, MongoDB, FireBase, NodeJS para el Back-end, entre otras cosas. <br/> <br/><br/>Cada día hay momentos para aprender!

            </p>
        </div>
    </article>
</Section>

<Section class="section-me contact" id="">
    <article>
        <div class="info-me animated bounceInRight">
            <h3 class="color">
                Si llegas hasta aqui, Querras Hablar ;)</h3>
            <p>¡Si deseas comunicarte conmigo puedes escribirme un mail o usar los diferentes canales que hay te dejo! :)
                <br>Puedes pulsar el botón de Contáctame para ver las informaciones referentes.
            </p>
            <button class="this-btn animated fadeIn" data-toggle="modal" data-target="#ModalContact">Contáctame</button>
        </div>
        <div class="img-me animated zoomIn">
            <img class="sombra" src="/assets/images/contact.jpeg" />
        </div>
    </article>
    <article>
        <div class="img-me animated zoomIn">
            <img class="sombra" src="/assets/images/leer.jpeg" />
        </div>
        <div class="info-me animated bounceInRight">
            <h3 class="color">
                ¿Te gusta esta pagina web?</h3>
            <p>Esta web se realizó con Angular JS, FireBase, HTML5, Bootstrap 3 y Animate,<br> si gustas puedes ver o descargar el código en GitHub.<br> Siéntase libre de reutilizar y cambiar este código, todo fue realizado desde cero por mí.<br><br> Creado
                con el ♥
            </p>
            <a href="https://github.com/EfraPeralta/portfolio-angular" target="_black">
                <button class="this-btn animated fadeIn">Ver en GitHub</button></a>
        </div>
    </article>
</Section>


<footer class="animated fadeIn">
    <div class="me-footer">
        <p>Contactos: {{data.info.cellphone}} | {{data.info.fullName}} © <strong id="fecha"></strong>. Todos los derechos reservados.</p>
    </div>
</footer>